---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { sequence } from "astro:middleware";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
// 2. For your template, you can get the entry directly from the prop
const { post } = Astro.props;
sequence;
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <article class="max-w-[75ch] md:px-12 px-6">
    <header class="mt-12">
      <p class="font-serif text-sm mb-2">
        {post.data.date}
      </p>
      <h1 class="font-serif text-4xl mb-4">{post.data.title}</h1>
      {
        post.data.summary && (
          <p class="bg-amber-200 border-1 p-6 text-pretty rounded">
            <span class="font-semibold">Takeaway</span>: {post.data.summary}
          </p>
        )
      }
    </header>
    <main class="border-b border-slate-100 mb-8">
      <Content />
    </main>
    <p class="mb-4 self-center">✨&nbsp;✨&nbsp;✨</p>
    <p>
      Thanks for reading! If you'd like to share any thoughts or feedback, or if
      you're interested in getting in touch, please reach out to me via email at <a
        href="mailto:jbvaughan1993@gmail.com">jbvaughan1993@gmail.com</a
      >.
    </p>
  </article>
</Layout>

<style>
  @reference '../../styles/global.css';
</style>
