---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Posts">
  <section class="mb-8">
    <h2 class="mb-2 text-2xl">Posts</h2>
    <p>Thoughts on digital content, content design, and UX.</p>
  </section>
</Layout>
