---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joe Vaughan">
  <h1>Joe Vaughan</h1>
  <p>
    marketing lead at <a href="https://merl.reading.ac.uk/" title="The MERL"
      >The Museum of English Rural Life</a
    > + <a href="https://collections.reading.ac.uk/">uni of reading museums</a>.
    my goal is to help people discover new ways to explore and enjoy museum
    collections, in person and online.
  </p>
  <p>
    💌 <a href="https://www.linkedin.com/in/joevaugh4n/"
      >connect w me (linkedin)</a
    >
  </p>
</Layout>
