---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joe Vaughan">
  <article>
    <h2 class="font-medium">About</h2>
    <p>
      I've worked in online comms since 2016 at places like <a
        href="https://merl.reading.ac.uk">The MERL</a
      >, <a href="https://readingmuseum.org.uk">Reading Museum</a>, <a
        href="https://chromatic.com">Chromatic</a
      >, and <a href="https://storybook.js.org">Storybook</a>. My work has made
      a lot of people laugh and it's even appeared in international press (<a
        href="https://www.theguardian.com/books/2019/oct/22/woman-reunited-with-childhood-book-in-museum-reading-the-secret-garden"
        >The Guardian</a
      >, <a
        href="https://www.npr.org/2020/08/09/900498227/the-escapist-land-of-cottagecore-from-marie-antoinette-to-taylor-swift"
        >NPR</a
      >, <a
        href="https://www.polygon.com/2020/3/26/21195434/animal-crossing-new-horizons-merl-rural-life-museum-smocks-design-clothes"
        >Polygon</a
      >).
    </p>
    <p>
      I'm currently open to freelance work. As a writer, editor and content
      designer, I love helping people do more with words, organise and improve
      messaging, improve UX, and grow reach. I also have a bunch of experience
      running online communities. <a href="mailto:jbvaughan1993@gmail.com"
        >Reach out via email</a
      >.
    </p>
  </article>
</Layout>
