---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joe Vaughan">
	<main>
		<p>
			I've worked on the web since 2016 at places like The Museum of
			English Rural Life (The MERL), Storybook, Reading Museum, Chromatic,
			and a bunch of high street brands in the UK.
		</p>
		<p>
			Today, my goal is to share some of what I've learned and help you do
			more on the Internet.
		</p>
		<p>
			<a href="mailto:jbvaughan1993@gmail.com">Reach out today</a>. Posts
			coming soon!
		</p>
	</main>
</Layout>
