---
import Layout from "../layouts/Layout.astro";
import Social from "../components/atoms/social.astro";
---

<Layout title="Joe Vaughan">
  <!-- About Me -->
  <p class="leading-normal">
    <b>Joe Vaughan</b> is the Marketing Manager at <a
      href="https://merl.reading.ac.uk/">The Museum of English Rural Life</a
    >
    and <a href="https://collections.reading.ac.uk/"
      >the University of Reading's Museums & Special Collections</a
    >. He is passionate about joyful marketing, delightful user experiences, and
    quality service design.
  </p>
</Layout>
