---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Joe Vaughan">
	<article>
		<h2 class="font-medium mb-1">About</h2>
		<p>
			I've worked in online comms since 2016 at places like The MERL,
			Reading Museum, and Storybook. My work has made a lot of people
			laugh and even appeared in international press (<a
				href="https://www.theguardian.com/books/2019/oct/22/woman-reunited-with-childhood-book-in-museum-reading-the-secret-garden"
				>The Guardian</a
			>, <a
				href="https://www.npr.org/2020/08/09/900498227/the-escapist-land-of-cottagecore-from-marie-antoinette-to-taylor-swift"
				>NPR</a
			>, <a
				href="https://www.polygon.com/2020/3/26/21195434/animal-crossing-new-horizons-merl-rural-life-museum-smocks-design-clothes"
				>Polygon</a
			>). I'm currently open to freelance projects. <a
				href="mailto:jbvaughan1993@gmail.com">Reach out</a
			>.
		</p>
	</article>
</Layout>
