---
interface Props {
  path: ImageMetadata;
  url: string;
  title: string;
}

const { path, url, title } = Astro.props;
---

<a href={url} title={title}>
  <img
    src={path.src}
    alt={title}
    class="w-6 Fhover:opacity-80 active:opacity-80"
  />
</a>
