---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import MooDeng from "../../assets/moo_deng.webp";
---

<Layout title="moo deng">
  <Image src={MooDeng} alt="Moo Deng" class="w-screen" />
  <p><a href="/">back</a></p>
</Layout>
