<section class="py-8 md:mx-12 mx-6 border-b border-indigo-50">
  <h2 class="text-2xl mb-3">About</h2>
  <p class="mb-2 text-pretty max-w-[75ch]">
    Joe (he/him) is an arts marketer, content creator, and writer, whose
    campaigns have appeared in international press.
  </p>
  <p class="mb-2 text-pretty max-w-[75ch]">
    From 2019 to 2023, he succeeded Adam Koszary in leading digital comms at The
    Museum of English Rural Life and Reading Museum. Between 2023 and 2024, he
    was the global community manager at Storybook.
  </p>
  <p class="mb-2 text-pretty max-w-[75ch]">
    Today, Joe is Marketing Lead for the University of Reading's museums service (including The MERL).
    He splits his time between Reading and The Internet.
  </p>
</section>
