<section class="prose border-b border-dashed flex flex-col gap-4 py-12">
  <p>
    Joe (he/him) is an arts marketer, content creator, and writer, whose
    campaigns have appeared in international press. He has worked in-agency, in
    the heritage sector and in tech.
  </p>
</section>
