---

---

<footer class="mt-8 text-sm">
  <div>
    &copy; <span class="font-medium text-balance">Joe Vaughan, 2024</span>
  </div>
  <div>
    Built with Astro and Tailwind, hosted on Netlify. <a
      href="https://github.com/joevaugh4n/joevaugh4n">View on GitHub</a>
  </div>
</footer>
