<footer class="absolute bottom-4">
  <p>
    &copy; <span class="font-medium text-balance">Joe Vaughan, 2024</span>
  </p>
  <p>
    Built with Astro and Tailwind, hosted on Netlify. <a
      href="https://github.com/joevaugh4n/joevaugh4n">View on GitHub</a
    >.
  </p>
</footer>
