---
import { Icon } from "astro-icon/components";
---

<header class="mb-4">
    <h1 class="text-4xl font-semibold mb-2">Joe Vaughan</h1>
    <div class="text-lg text-balance italic">
        Helping teams create better content for the Internet
    </div>
</header>
