---
import bluesky from "../assets/bluesky.svg";
import linkedin from "../assets/linkedin.svg";
import rss from "../assets/rss.svg";
import Icon from "../atoms/Icon.astro";
---

<nav
  class="md:px-12 px-6 py-4 flex justify-between items-center sticky top-0 bg-white"
>
  <h1>
    <a class="text-lg rounded hover:opacity-50 active:opacity-50" href="/"
      >Joe Vaughan</a
    >
  </h1>
  <ul class="flex gap-2 items-center">
    <li>
      <Icon
        path={bluesky}
        title="Bluesky"
        url="https://bsky.app/profile/joevaughan.net"
      />
    </li>
    <li>
      <Icon
        path={linkedin}
        title="LinkedIn"
        url="https://www.linkedin.com/in/joevaugh4n/"
      />
    </li>
    <li>
      <Icon path={rss} title="RSS Feed" url="https://joevaughan.net/rss.xml" />
    </li>
  </ul>
</nav>
