---
import { Image } from "astro:assets";
import portrait from "../assets/joe_vaughan.webp";
import Social from "./atoms/social.astro";
---

<header class="flex w-full justify-between text-pretty mb-8">
  <!-- Title -->
  <a href="/">
    <Image
      src={portrait}
      alt="Joe Vaughan"
      class="h-24 w-24 rounded-full"
      loading="eager"
      title="Joe Vaughan"
    />
  </a>

  <!-- Socials -->
  <nav>
    <ul class="flex gap-x-4">
      <Social
        icon="linkedin"
        title="LinkedIn"
        href="https://www.linkedin.com/in/joevaugh4n/"
      />
      <Social
        icon="bluesky"
        title="BlueSky"
        href="https://bsky.app/profile/joevaugh4n.bsky.social"
      />
    </ul>
  </nav>
</header>
