---
const { title, frontmatter } = Astro.props;
const pageTitle = title || frontmatter?.title || "Joe Vaughan";
---

<head>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Gabriela&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap"
    rel="stylesheet"
  />
  <!-- Google Fonts end -->
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-GB8HF0L0KV"
  ></script>
  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-GB8HF0L0KV");

    console.log(
      window.location.pathname == "/"
        ? console.log("Gtag: home")
        : console.log("Gtag: " + window.location.pathname)
    );
  </script>
  <!-- Google Analytics end -->

  <!-- Meta tags -->
  <meta property="og:title" content={title || frontmatter.title} />
  <meta property="og:site_name" content="Joe Vaughan" />
  <meta property="og:url" content="https://joevaughan.net" />
  <meta
    property="og:description"
    content="Joe Vaughan is a social media manager, museum professional, and content creator."
  />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>
    {pageTitle == "Joe Vaughan" ? "Joe Vaughan" : `${pageTitle} • Joe Vaughan`}
  </title>
</head>
