---
import { Image } from "astro:assets";
import portrait from "../assets/joe_vaughan.webp";
---

<header class="flex justify-between items-start text-pretty lg:mb-4 mb-8">
  <!-- Title -->
  <div class="flex gap-2">
    <Image
      src={portrait}
      alt="Joe Vaughan"
      class="h-24 w-24 rounded-full"
      loading="eager"
      title="Joe Vaughan"
    />
  </div>
</header>
