---
import bluesky from "../assets/bluesky.svg";
import linkedin from "../assets/linkedin.svg";
import Icon from "../atoms/Icon.astro";
---

<nav class="py-4 flex justify-between md:mb-12 sticky top-0 bg-white">
  <h1>
    <a class="text-lg font-bold hover:opacity-50 active:opacity-50" href="/">Joe Vaughan</a>
  </h1>
  <ul class="flex gap-2">
    <li>
      <Icon
        path={bluesky}
        title="Bluesky"
        url="https://bsky.app/profile/joevaughan.net"
      />
    </li>
    <li>
      <Icon
        path={linkedin}
        title="LinkedIn"
        url="https://www.linkedin.com/in/joevaugh4n/"
      />
    </li>
  </ul>
</nav>
