---
import { Icon } from "astro-icon/components";
---

<nav class="flex flex-row justify-end gap-1">
    <a href="https://www.linkedin.com/in/joevaugh4n/"><Icon name="mdi:linkedin" /></a>
    <a href="https://twitter.com/joevaugh4n"><Icon name="mdi:twitter" /></a>
</nav>
