<section class="bg-green-300 py-18 md:px-12 px-6">
  <h2
    class="md:text-5xl font-medium text-3xl font-serif text-center text-balance leading-normal decoration-2 max-w-[40ch] mx-auto"
  >
    Helping arts and culture orgs make great comms
  </h2>
</section>
