---
import { Icon } from "astro-icon/components";

interface Props {
  href: string;
  title: string;
  icon: string;
}

const { href, title, icon } = Astro.props;
---

<li><a class="w-fit h-fit font-serif tracking-wide" href={href}
  ><Icon name={icon} title={title} class="text-2xl" /></a
>
</li>
