* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 2rem 2rem;
    width: 80vw;
    font-family: 'Times New Roman';
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.info {
    background-color: whitesmoke;
    padding: 8px;
}

.heroImage {
    max-height: 25vh;
    max-width: 25vw;
    border-radius: 999px;
}

.container>p,
form,.confession {
    padding-bottom: 1rem;
    font-size: 1rem;
    text-wrap: pretty;
}

.confession {
    border-top: 1px slategray solid;
    border-bottom: 1px slategray solid;
}

h1,
h2 {
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
}

input {
    width: 100%;
    height: 10rem;
    padding: 1rem 1rem;
}

input {
    cursor: default;
}