:root {
    --silver: rgb(239, 239, 239);
    --black: #141414;
    --vanilla: #FFEE8C;
    --blue: #B3EBF2;
    --orange: #FD5E53;
    --white: #fdfdfd;
}

* {
    border: none;
    padding: 0;
    margin: 0;
    color: var(--black);
    background-color: var(--white);
}

/* Container */
.container {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    max-width: 90vw;
}

@media (max-width: 800px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 2rem;
    }
}

/* Elements */

nav.top-menu {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
}

nav.menu {
    margin-bottom: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

button.menu-item {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 1rem 0.5rem;
    font-family: "Merriweather", serif;
    font-size: 1rem;
    cursor: pointer;
    transition: font-weight ease 0.3s;
}

button.menu-item:hover,
button.menu-item:focus {
    background-color: var(--vanilla);
    transition: background-color ease 0.3s;
    outline: none;
}

.active {
    background-color: var(--vanilla);
}

.inactive {
    background-color: var(--silver);
    font-weight: 300;
}

.highlight-text {
    border: 1px var(--silver) solid;
    border-radius: 12px;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social-icon {
    max-height: 32px;
    transition: max-height 0.2s ease;
}

.social-icon:hover {
    max-height: 34px;
}

/* Typography and design assets */

.title {
    margin-bottom: 2rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    margin-bottom: 1rem;
    font-weight: 800;
}

p {
    font-family: "Merriweather", serif;
    font-weight: 300;
    max-width: 60ch;
    line-height: 1.7;
    text-wrap: pretty;
}

p.intro {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

p.highlight-text {
    max-width: 60ch;
}

a {
    color: blue;
    width: fit-content;
}

.baby {
    max-width: 90vw;
}

.portrait {
    max-width: 90vw;
}