* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 2rem 2rem;
    width: 80vw;
    font-family: 'Times New Roman'
}

.info {
    background-color: whitesmoke;
    padding: 8px;
}

.container>p,
form {
    padding-bottom: 1rem;
    font-size: 1rem;
    text-wrap: pretty;
}

h1,
h2 {
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
}

input {
    width: 100%;
    height: 10rem;
    padding: 1rem 1rem;
}