* {
    padding: 0;
    margin: 0;
}

.container {
    margin: 2rem 2rem;
    width: 80vw;
}

.container>p, form {
    padding-bottom: 2rem;
    font-size: 4rem;
    text-wrap: pretty;
}

h1.title {
    display: inline-block;
    font-size: inherit;
    font-weight: normal;
}

input {
    width: 100%;
    height: 10rem;
    padding: 1rem 1rem;
}