---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="antialiased">
    <Header />
    <slot />
    <footer
      class="md:px-12
        px-6 self-center
        my-8
        font-sans
        text-sm"
    >
      © Joe Vaughan, 2025
    </footer>
  </body>
</html>
