---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="antialiased">
    <section class="px-4 flex gap-y-20 flex-col mx-auto justify-center">
      <Header />
      <section class="md:w-4/5 md:mx-auto flex flex-col gap-y-20">
        <slot />
      </section>
      <footer class="self-center mb-8 font-sans text-sm">© Joe Vaughan, 2025</footer>
    </section>
  </body>
</html>
