---
import Head from "../components/Head.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={title} />
  <body class="antialiased">
    <slot />
  </body>
</html>
