---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={`Joe Vaughan: ${frontmatter.title}`}>
  <header class="mb-8">
    <div class="opacity-50 mb-2">{frontmatter.date}</div>
    <h1 class="mb-2 text-2xl">{frontmatter.title}</h1>
    <div class="mb-2">{frontmatter.subtitle}</div>
  </header>
  <slot />
</Layout>
